<div class="chats-navbar">
	<div class="chats-navbar__upper-section">
		<mchat-round-icon-button iconName="matGroup"></mchat-round-icon-button>
		<mchat-round-icon-button iconName="matChat"></mchat-round-icon-button>
		<mchat-round-icon-button iconName="matWorkspaces"></mchat-round-icon-button>
		<mchat-round-icon-button iconName="matSearch"></mchat-round-icon-button>
		<!-- <p-button [rounded]="true" [raised]="true" [text]="true" [style]="{ color: 'var(--foreground-color)' }">
			<ng-icon name="matGroup"></ng-icon>
		</p-button> -->
		<!-- <p-button [rounded]="true" [raised]="true" [text]="true" [style]="{ color: 'var(--foreground-color)' }">
			<ng-icon name="matChat"></ng-icon>
		</p-button> -->
		<!-- <p-button [rounded]="true" [raised]="true" [text]="true" [style]="{ color: 'var(--foreground-color)' }">
			<ng-icon name="matWorkspaces"></ng-icon>
		</p-button> -->
		<!-- <p-button [rounded]="true" [raised]="true" [text]="true" [style]="{ color: 'var(--foreground-color)' }">
			<ng-icon name="matSearch"></ng-icon>
		</p-button> -->
		<!-- <p-divider></p-divider> -->
	</div>
	<div class="chats-navbar__settings-section">
		<mchat-theme-change-button></mchat-theme-change-button>
		<!-- <p-avatar
			image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
			styleClass="mr-2"
			shape="circle"
		></p-avatar> -->
	</div>
</div>
