<div class="message-input-container">
	<button class="message-input__attachment-button">
		<ng-icon name="matAttachFile"></ng-icon>
	</button>
	<div contenteditable="true" class="message-input"></div>
	<div class="message-input__message-controls">
		<button class="message-input__emoji-button">
			<ng-icon name="matEmojiEmotions"></ng-icon>
		</button>
		<hr />
		<button class="message-input__send-button">
			<ng-icon name="matSend" color="var(--primary-color)"></ng-icon>
		</button>
	</div>
</div>
