.auth-layout
    position: relative
    height: 100%
    background-image: url('/assets/backgrounds/auth-bg-2.svg')
    background-size: cover

    &__form
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        height: 512px
        width: clamp(320px, 40%, 448px)
        padding: 8px 16px
        background: #eee
        border-radius: 8px
        box-shadow: 0px 8px 16px #121212

