<div class="auth-layout">
	<div class="auth-layout__form">
		<router-outlet />
		<!-- <mchat-filled-button [label]="'A Button'"></mchat-filled-button>
		<mchat-outlined-button [label]="'A Button'"></mchat-outlined-button>
		<mchat-raised-button [label]="'A Button'"></mchat-raised-button>
		<mchat-text-button [label]="'A Button'"></mchat-text-button> -->
		<mchat-input label="Placeholder" placeholder="Placeholder"></mchat-input>
		<mchat-separator [hasLabel]="true">
			<mchat-text-button label="register!"></mchat-text-button>
		</mchat-separator>
	</div>
</div>
