:host
    width: 100%

.separator
    display: grid
    grid-template-columns: auto max-content auto
    width: 100%
    gap: 0.5rem
    place-items: center
    transition: all 256ms

    &__stroke
        background: var(--foreground-color)
        height: 1px
        width: 100%

    &__label
        text-transform: lowercase

    &--no-label
        background: var(--foreground-color)
        height: 1px
        width: 100%
