.chats-layout
    display: grid
    grid-template-columns: 64px 256px auto
    height: 100%
    background: var(--background-color)
    transition: all 256ms

    &__area
        border-top-right-radius: var(--common-border-radius)
        border-bottom-right-radius: var(--common-border-radius)
        box-shadow: 0 4 4 #00000040
