.message
    display: flex
    gap: 0.25rem
    width: fit-content

    .message-body
        display: flex
        flex-direction: column
        gap: 0.25rem
        min-width: 16rem
        max-width: 40rem
        padding: 0.375rem 0.625rem
        background: #86868629
        border-radius: var(--common-border-radius)

        &__heading
            display: flex
            justify-content: space-between
            align-items: center
            gap: 1rem

            p
                display: flex
                align-items: center
                gap: 0.5rem

    .reactions
        display: flex
        margin-top: 2px
        gap: 0.25rem


    .add-reaction-button
        display: flex
        align-self: flex-end
        visibility: hidden

        &:hover
            visibility: visible

    &:hover
        .add-reaction-button
            visibility: visible

    ::ng-deep
        .avatar
            max-width: 2rem
            max-height: 2rem
