<div class="message">
	<mchat-avatar [avatarUrl]="model.creator.avatarUrl" />
	<div class="message__content-container">
		<div class="message-body">
			<div class="message-body__heading">
				<p>
					<strong> {{ model.creator.name }} | {{ model.creator.tag }} </strong>
					<small class="note"> {{ model.datePublished | date: 'hh:mm dd.MM.YYYY' }} </small>
				</p>
				<mchat-read-check [messageReadBy]="model.usersRead"></mchat-read-check>
			</div>
			<small class="message-body__content">
				{{ model.content }}
			</small>
		</div>
		<div class="reactions">
			@if (model.reactions.length > 0) {
				@for (reaction of model.reactions; track $index) {
					<mchat-reaction
						[model]="reaction"
						[currentUserId]="currentUserId"
						(onClick)="sendSameReaction(reaction)"
					></mchat-reaction>
				}
				<mchat-round-icon-button
					class="add-reaction-button"
					(click)="addNewReactionClick(model.id)"
					iconName="matEmojiEmotions"
				/>
			}
		</div>
	</div>

	@if (model.reactions.length < 1) {
		<mchat-round-icon-button
			class="add-reaction-button"
			(click)="addNewReactionClick(model.id)"
			iconName="matEmojiEmotions"
		/>
	}
</div>
