<div class="chatroom-list__container">
	<div class="chatroom-list__header">
		<p>Folders</p>
	</div>
	<mchat-search placeholder="Search for a chat" label=""></mchat-search>
	<!-- <div class="chatroom-list__search-field-container">Searchfield</div> -->
	<div class="chatroom-list__body">
		<div class="chatroom-list__chatrooms">
			@for (chatroom of chatType | getChatrooms | async; track $index) {
				<mchat-chatroom-short-profile [chatroom]="chatroom" [isActive]="chatroom.id === chatId" />
			}
		</div>
	</div>
</div>
