.chatroom
    display: grid
    grid-template-rows: 3rem auto 2rem
    height: 100vh

    &__message-list
        display: flex
        flex-direction: column
        gap: 0.5rem
        margin: 0
        padding: 1rem 0.5rem
        overflow-y: auto
        height: 100%

    &__message-list-item
        list-style-type: none

.input
    height: 2rem
