@import "primeng/resources/themes/saga-orange/theme.css"
@import "primeng/resources/primeng.css"

@font-face
    font-family: 'lato'
    src: url('/assets/fonts/Lato-Regular.ttf')
    font-weight: 400

html, body
    height: 100%
    margin: 0
    padding: 0

